#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px0;
  text-align: center;
}


input {
  display: block;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #c03333;
  width: 80%;
  box-sizing: border-box;
  padding: 60;
  font-size: 20px;
  float: left;
  
}

button {
  margin-top: 10px;
  background-color: #4CAF50; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

thead {
  background-color: #8a1b1b;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: center;
  padding: 30px;
}
tr{
  border-bottom: 1px solid #ddd;
  padding: 40px;
  margin: 20px;
}

form {
  display: flex;
  float: left ;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

h2 {
  color: #8a1b1b;
  font-size: 30px;
  margin: 20px;
  text-align: left;
}


